#defaultPlaylistImageId{
    display: inline-block;
    width: 100%;
}

#genres-panel{
    width: 35%;
    display: inline-block;
}


#noteBulletId{
 display: inline;
    width: 25px;
}

.genre_li{
    display: block;
}

#pageSizeFormId, #searchFormId{
    display: inline-block;
}
