.row {
    margin-left: 1%;

}

.col-md-4 {
    width: 33%;
}

#defaultPlaylistImageId {
    display: inline-block;
    width: 100%;
}

#genres-panel {
    width: 35%;
    display: inline-block;
}

#noteBulletId {
    display: inline;
    width: 25px;
}

.genre_li {
    display: block;
}

#pageSizeFormId, #searchFormId {
    display: inline-block;
}

.playlistImageClass {
    display: block;
    width: 100%;
}

.likesCountContainer, .playlistActionContainer {
    vertical-align: middle;
    font-size: 2em;
}

.likesBalanceContainer {
    vertical-align: middle;
    font-size: 1em;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.cleanStyleButton {
    border: 0;
    background-color: transparent;
}

.playlistItem {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0.5em 0;
    border: 0.2em solid lightblue;
    border-radius: 1.5em;
}

.createCommentForm {
    margin-left: 5%;
    text-align: center;
}

.playlistCommentItem {
    padding: 0.5em;
    background-color: aliceblue;
    display: block;
    vertical-align: middle;
    list-style-type: none;
    margin: 1.5em 2em;
    border: 0.2em solid lightblue;
    border-radius: 0.5em;
}

.playlistCommentItem > div > a {
    font-size: 1.5em;
    font-style: italic;
}

.playlistCommentUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.playlistCommentItem time {
    position: relative;
    left: 3em;
    font-size: 0.7em;
    font-style: italic;
}

.commentInput {
    display: inline-block;
    margin-left: 2.5%;
    padding: 0.5em;
    width: 90%;
}

.noComment {
    text-align: center;
    font-style: oblique;
    font-size: 1.2em;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.playerContainer {
    display: block;
    padding: 3%;
}

.player {
    width: 100%;
}

.playlistTitleHeading {
    text-align: center;
}

.liked {
    color: blue;
}

.disliked {
    color: red;
}